POSTER_PASSWORD=your_poster_password_here
IBKR_ACCOUNT_ID=your_ibkr_account_id

IBKR_HOST=127.0.0.1
IBKR_PORT=4001
IBKR_CLIENT_ID=69420
DEBUG=ibkr*

TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token

MY_NUMBER=+1234567890
TWILIO_NUMBER=+1234567890

# Trading configuration
MAX_SPEND=100000
WIN_PERCENTAGE=1
LOSS_PERCENTAGE=2
WIN_COUNTER_MAX=4
TRADING_MODE=PERCENTAGE
FIXED_PROFIT_AMOUNT=100
FIXED_LOSS_AMOUNT=500
